body {
    background-color: black;
}

.display-3 {
    font-size: 3rem;
}

@media (min-width: 576px) {
    .display-3 {
        font-size: 4.5rem;
    }
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}